<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎经纪人权限激活</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/agtregisterinfo.css">
    </head>
    <body style="background-color: #fff">
        <div id="page-agtregisterinfo">
            <section class="container">
                <h4>51二胎经纪人权限激活步骤：</h4>
                <ol>
                    <li>保存《经纪人合作协议》和《经纪人管理制度》图片；</li>
                    <li>各打印2份并签名；</li>
                    <li>将4份签过名的文件邮寄至广东省广州市越秀区 德政北路538号达信大厦1505 乐生医疗服务有限公司；</li>
                    <li>普通经纪人注册费1580，金牌经纪人注册费15800，汇款信息：
                    <br/>
                    广州乐生医疗服务有限公司
                    <br/>
                    中国工商银行广州吉祥支行
                    <br/>
                    3602 0006 0920 0184 811
                    <br/>
                    请留言注明姓名和注册手机号</li>
                    <li>乐生医疗在收到款项后激活账号的经纪人权限，您可在个人账号页面的“我的客户”页管理客户信息。</li>
                </ol>
                <p class="color-pink">打开后长按图片并选择保存</p>
                <a class="btn btn-primary" role="button" id="protocol" style="display: block;">经纪人合作协议</a>
                <a class="btn btn-primary" role="button" id="rule" style="display: block;">经纪人管理制度</a>
            </section>
        </div>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    </body>
</html>