<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>体检报告要求</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/male.css">
    </head>
    <body style="background-color: #fff">
        <div id="page-male" class="container">
            <p class="color-gray">泰国与中国对是否能够进行试管婴儿手术的判定标准有别，请客户夫妻双方依照泰国医院的体检项目要求进行体检，以便医生作出解读。这是为了让医生掌握客户的身体状况，为每位客户制定更为贴身有效的个人化试管婴儿计划。体检项目包括女士的排卵情况、激素水平、传染疾病状况和一般血液检查等。</p>
            <img src="../img/pic-female-text.png" width="100%">
            <!-- <h4>国内体检项目（女方）</h4>
            <p class="color-pink">在月经周期内任意一天完成</p>
            <ol style="list-style-position: inside;">
                <li>抗苗勒氏管激素（AMH）</li>
                <li>宫颈拭子（Cervical swab C/S）</li>
                <li>支原体，解脲支原体和衣原体PCR（Mycoplasma，Ureaplasma and Chlamydia PCR）</li>
                <li>微粒体/抗体（Microsomal/ab）</li>
                <li>甲状腺球蛋白/抗体（Thyroglobulin/ab）</li>
                <li>促甲状腺激素（TSH）</li>
                <li>三碘甲腺原氨酸（T3），甲状腺素（T4）</li>
                <li>间接库姆伯斯试验（Indirect Coombs test）</li>
                <li>风疹病毒抗体（Rubella IgG/IgM）</li>
                <li>巨细胞病毒抗体（CMV IgG/IgM）</li>
                <li>弓浆虫抗体（Toxoplasma IgG/IgM）</li>
                <li>B19微小病毒抗体（Parvovirus B19 IgG/IgM）</li>
                <li>水痘-带状疮疹病毒抗体（Varicell-Zoster Virus IgG/IgM）</li>
                <li>Rh血型，ABO血型</li>
                <li>全血细胞计数（CBC）</li>
                <li>血红蛋白检测定型（Hemoglobin typing）</li>
                <li>α和β地中海贫血PCR检测（PCR for Alpha and Beta Thalassemia）</li>
                <li>丙型肝炎病毒抗体（Anti HCV）</li>
                <li>乙型肝炎表面抗原（HBsAg）</li>
                <li>B型肝炎表面抗体（Anti Hbs）</li>
                <li>艾滋病毒抗体（Anti HIV）</li>
                <li>梅毒螺旋体检测试验（VDRL）</li>
                <li>抗磷脂抗体（抗心磷脂抗体，狼疮抗凝物）（Antiphospholipid antibody）（anticardiolipin, lupus anticoagulant）</li>
            </ol>
            <p class="color-pink">在月经周期的第2天完成</p>
            <ol style="list-style-position: inside;">
                <li>雌二醇（E2）</li>
                <li>促卵泡生成素（FSH）</li>
                <li>催乳素（Prolactin）</li>
                <li>排卵后黄体激素（LH）</li>
                <li>阴道超声（Internal Ultrasound）</li>
                <li>注：本次阴道超声检查时，请告知妇科医生同时检查卵泡的数量及大小等信息。</li>
            </ol>
            <p class="color-pink">在月经周期的第8-10天完成</p>
            <ol style="list-style-position: inside;">
                <li>子宫输卵管造影片（Hysterosalpingogram）</li>
                <li>柏氏子宫颈细胞涂片检查报告（Thin Prep Test）</li>
                <li>阴道超声（Internal Ultrasound）</li>
                <li>注：本次阴道超声是为了检查卵泡数量及大小、子宫内膜、子宫及子宫附件的状况。</li>
            </ol>
            <p class="color-pink">提醒：体检过程中，阴道超声需要进行两次。</p> -->
            <!-- <a class="btn btn-primary" role="button" id="save-as-pic">保存到相册</a> -->
            
        </div>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
    </body>
</html>