<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>体检报告要求</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/male.css">
    </head>
    <body style="background-color: #fff">
        <div id="page-male" class="container">
            <p class="color-gray">泰国与中国对是否能够进行试管婴儿手术的判定标准有别，请客户夫妻双方依照泰国医院的体检项目要求进行体检，以便医生作出解读。这是为了让医生掌握客户的身体状况，为每位客户制定更为贴身有效的个人化试管婴儿计划。体检项目包括女士的排卵情况、激素水平、传染疾病状况和一般血液检查等。</p>
            <img src="../img/pic-male-text.png" width="100%">
            <!-- <h4>国内体检项目（男方）</h4>
            <ol style="list-style-position: inside;">
                <li>血型(Bl Gr)</li>
                <li>Rh血型(Rh Gr)</li>
                <li>全血细胞计数(CBC)</li>
                <li>艾滋病毒抗体(Anti HIV)</li>
                <li>梅毒螺旋体检测试验(VDRL)</li>
                <li>乙型肝炎表面抗原(HBsAg)</li>
                <li>B型肝炎表面抗原(Anti HBs)</li>
                <li>风疹病毒抗体(Rubella lgG)</li>
                <li>血红蛋白检测定型(Hemmoglobin Typing)</li>
            </ol> -->
            <!-- <a class="btn btn-primary" role="button" id="save-as-pic">保存到相册</a> -->
        </div>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
    </body>
</html>