<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>订单详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/orderdetail.css">
    </head>
    <body>
        <div id="page-orderdetail">
            <div class="context"></div>
            <div>
                <div class="left col-xs-2"></div>
                <div class="right col-xs-10" style="margin-bottom: 65px;">
                    <ul></ul>
                </div>
            </div>
        </div>
        <footer>
            <a class="btn btn-primary" role="button" ></a>
        </footer>
        <script id="steps" type="text/x-handlebars-template">
            {{#data}}
            <li status={{stepStatus}}>{{stepName}}</li>
            {{/data}}
        </script>
        <script id="order-detail" type="text/x-handlebars-template">
            <!-- <div align="center" class="color-gray" id="status-info">
                <div class="row">订单状态：<span class="color-pink">待审核</span></div>
                <div class="row small-font">订单号：<span style="color:#4d4d4d">{{outTradeNo}}</span></div>
            </div> -->
            <section class="container order-info">
                <div>
                    <span id="good-no" style="width: 20%">订单号：</span>
                    <span style="width: 78%">{{outTradeNo}}</span>
                </div>
                <div>
                    <span id="good-name">尊享套餐待补充</span>
                    <span><span class="color-pink">{{goodsPrice}}</span>元</span>
                </div>
                <div>
                    <span>姓名</span>
                    <span>{{name}}</span>
                </div>
                <div class="no-border">
                    <span>手机号码</span>
                    <span>{{cellphone}}</span>
                </div>
            </section>
        </script>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/config.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/orderdetail.js"></script>
    </body>
</html>