<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/package.css">
    </head>
    <body>
        <div id="page-package">
            <div id="package">
            </div>
            <!-- <footer>
                <a href="package.html" class="col-xs-6 footer-package footer-package-active" align="center">套餐</a>
                <a href="my.html" class="col-xs-6 footer-my" align="center">我的</a>
            </footer> -->
        </div>
        <script id="big-seller" type="text/x-handlebars-template">
            {{#sellers}}
            <section class="package-block">
                <div class="container">
                    <div class="row">
                        <h3 class="col-xs-8">{{name}}</h3>
                        <div class="col-xs-4" style="margin-top: 20px;"><span class="package-amount">0</span>人预约</div>
                    </div>
                    <ul class="list-unstyled package-desc">
                        {{#service}}
                        <li class={{className}}>
                            <div class="detail">{{desc}}</div>
                        </li>
                        {{/service}}
                    </ul>
                    <div class="package-footer row" style="margin:0">
                        <div class="col-xs-8 price color-pink" style="padding:0px;"><span class="color-blue big-font">{{price}}</span>元</div>
                        <a class="col-xs-4 go-detail btn btn-primary" role="button" f-target="packagedetail.html" id={{id}} style="width: 33%;">查看详情</a>
                    </div>
                </div>
            </section>
            {{/sellers}}
        </script>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript">
            // page index seller block
            var tpl =  $("#big-seller").html();
            var tplTemplate = Handlebars.compile(tpl);
            var tplContext = seller;
            var tplHtml = tplTemplate(tplContext);
            $("#package").html(tplHtml);
            goDetail();
            sellerAmountApi("1",function(res) {
                if (res.code === '200' && res.data) {
                    $($(".package-amount").get(0)).html(res.data);
                } else {
                    $($(".package-amount").get(0)).html("0");
                }
            });
            sellerAmountApi("2",function(res) {
                if (res.code === '200' && res.data) {
                    $($(".package-amount").get(1)).html(res.data);
                } else {
                    $($(".package-amount").get(1)).html("0");
                }
            });
            sellerAmountApi("3",function(res) {
                if (res.code === '200' && res.data) {
                    $($(".package-amount").get(2)).html(res.data);
                } else {
                    $($(".package-amount").get(2)).html("0");
                }
            });
        </script>
    </body>
</html>