<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>支付体检费用</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/lib/html5shiv.min.js"></script>
          <script src="js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/paysuccess.css">
    </head>
    <body>
        <div id="page-paysuccess">
            <section class="container pay-info">
                <div class="col-xs-3">
                    <img src="../img/icon-sdblock-yes.png">
                </div>
                <div class="col-xs-9">
                    <h3>支付成功</h3>
                    <p class="color-gray">工作人员将会尽快联系您</p>
                </div>
            </section>
            <div>
                <div class="left col-xs-2"></div>
                <div class="right col-xs-10">
                    <ul></ul>
                </div>
            </div>
        </div>
        <script id="steps" type="text/x-handlebars-template">
            {{#data}}
            <li>{{stepName}}</li>
            {{/data}}
        </script>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/config.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript">
            var context = {};
            context.data = orderJourneyArray.slice(2,orderJourneyArray.length);
            var tpl = $("#steps").html();
            var tplTemplate = Handlebars.compile(tpl);
            var tplHtml = tplTemplate(context);
            $(".right ul").html(tplHtml);
        </script>
    </body>
</html>